mixin title(title)
    title= title

mixin slide(number)
    .slide(id= "slide-"+number)
        img.slide__img(src="../img/header-slide-"+number+".jpg", alt="slide")

mixin main-title(text)
    .main-title
        h2.main-title__text= text
        img(src='../img/title-icon.png')

mixin lg-label(text)
    .lg-label
        .lg-label__text
            h5= text
mixin sm-label(text,color)
    .sm-label(style="background-color:"+ color)
        .sm-label__text
            h5= text

mixin product-title(text)
    .product-title
        h2.product-title__text= text
        img.product-title__icon(src="../img/arrow.png", alt="product title")

mixin product-title-sm(text)
    .product-title
        h2.product-title__text.sm-text= text
        img.product-title__icon(src="../img/arrow.png", alt="product title")

mixin product-price(number)
    .product-price
        p= number
            sup đ
mixin btn-add-new
    .btn-add-new
        a.btn.btn--add-new Add to cart
mixin time-in-box(number, text)
    .time-in-box
        p= number
        p= text

mixin product(link, title, price, old, label, color)
    .product
        .product__img
            img(src=link)
        .product__title
            p= title
        .product__price
            p= price
                sup đ
            p -
            p= old
                sup đ
        .product__btn
            +btn-add-new
        if text !== ''
            +sm-label(label,color)
        .product__favorite
            a(href='#')
                i.fa.fa-heart
                p Yêu thích
            a(href='#')
                i.fa.fa-signal
                p So sánh
            a(href='#')
                i.fa.fa-compress
mixin new-products-slide
    .products__slide
        input#new-products-list-1(type='radio' name='product-list', checked)
        input#new-products-list-2(type='radio' name='product-list')
        .products__slide__box
            .products__slide__list
                each item in listProducts
                    +product(item.link, item.title, item.price1, item.price2, item.label, item.color)
        .products__slide__arrow
            .products__slide__arrow__left
                label(for="new-products-list-1")
                    i.fa.fa-arrow-left
            .products__slide__arrow__right
                label(for="new-products-list-2")
                    i.fa.fa-arrow-right
mixin hot-products-slide
    .products__slide
        input#hot-products-list-1(type='radio' name='product-list', checked)
        input#hot-products-list-2(type='radio' name='product-list')
        .products__slide__box
            .products__slide__list
                each item in listProducts
                    +product(item.link, item.title, item.price1, item.price2)
        .products__slide__arrow
            .products__slide__arrow__left
                label(for="hot-products-list-1")
                    i.fa.fa-arrow-left
            .products__slide__arrow__right
                label(for="hot-products-list-2")
                    i.fa.fa-arrow-right
mixin gallery-item(number)
    .home-page__gallery__item
        img.home-page__gallery__item__img(src="../img/gallery-img-"+number+".png", alt="gallery image")
        .home-page__gallery__item__hover
            p.home-page__gallery__item__hover__year 1987
            p.home-page__gallery__item__hover__text Rượu
            a(href="#")
            .line-top
            .line-left
            .line-bottom
            .line-right

mixin blog-item(blog)
    .blog-item
        .blog-item__img
            img(src= blog.link, alt="blog image")
            .blog-item__img__hover
                .blog-item__img__hover__bg
                .blog-item__img__hover__icon
                    i.fa.fa-link
                a.blog-item__img__hover__link(href="#")
        .blog-item__title
            a(href="#")= blog.title
        .blog-item__author
            p= blog.author
        .blog-item__desc
            p= blog.desc
        .blog-item__read-more
            a(href="#") Read more
mixin directions(items)
    .directions
        .container
            ul.directions__list
                each item in items
                    li.directions__item
                        a(href= item.link)= item.name
mixin detail-title(title)
    .detail-title
        h6.detail-title__text= title
mixin sm-title(text)
    .sm-title
        h6= text
mixin products-pag(boolean)
    .products-pag
        .products-pag__type
            if boolean == true
                a.active(href="./products.html")
                    i.fa.fa-th
                a(href="./products-list.html")
                    i.fa.fa-th-list
            else
                a(href="./products.html")
                    i.fa.fa-th
                a.active(href="./products-list.html")
                    i.fa.fa-th-list
        .products-pag__num
            a(href="#")
                i.fa.fa-caret-left
            - for (let i = 1; i < 6; i++)
                if i == 2
                    a.active(href="#")= i
                else
                    a(href="#")= i
            a(href="#")
                i.fa.fa-caret-right
mixin products-list-item(link, title, price, content)
    .products-list__item
        .products-list__item__img
            img(src=link, alt="product image")
        .products-list__item__content
            .products-list__item__content__title
                h3= title
            .products-list__item__content__price
                +product-price(price)
            .products-list__item__content__content
                p= content
            .products-list__item__content__btn
                +btn-add-new
                a(href='#')
                    i.fa.fa-heart
                    p Yêu thích
                a(href='#')
                    i.fa.fa-signal
                    p So sánh
mixin input-text(text, value)
    .input-text
        label(for=text)= text
        input(type='text' name=text id=text value=value)